{% extends 'base.html' %}


{% block title %} Conta {% endblock %}


{% block content %}

    <div class="container-app" style="padding-top: 90px;">
      
      <div class="app" style="padding: 12px; border: 1px solid #ccc; border-radius: 8px; ">
        
        <div class="form">

          <h1>{{ user.username }}</h1>

          <fieldset disabled>

            <div>

                <label for="disabledTextInput" class="form-label">Nome:</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="{{ user.username }}">

            </div>

            <div>

              <label for="disabledTextInput" class="form-label">Email:</label>
              <input type="email" id="disabledEmailInput" class="form-control" placeholder="{{ user.email }}">

            </div>

            <div>

                <label for="disabledTextInput" class="form-label">Senha:</label>
              <input type="password" id="disabledPasswordInput" class="form-control" placeholder="{{ user.password }}">

            </div>
         
        </fieldset>

        <a href="/logout"><button class="button" style="width: 100%;">Sair</button></a>
          
        </div>
        
      </div>

    </div>

{% endblock %}