{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} Atualizar senha {% endblock%}

{% block content %}


	<div class="container-app">

		<div class="app">
			<h1>Mudar senha</h1>
			<form method="POST">

				<p>Coloque seu email e enviaremos um email com as devidas instruções .</p>

		    	{% csrf_token %}

	      		{{ form|crispy }}

	      		<button type="submit" class="button" name="login" value="Login" style="margin-top: 10px; padding: 8px; width: 100%;">Enviar</button>

			</form>

		</div>

	</div>



{% endblock %}