{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} Atualize sua senha {% endblock%}

{% block content %}


	<div class="container-app">

		<div class="app">
			
			{% if validlink %}

			<h1>Atualize sua nova senha</h1>

			<form method="POST">
  				{% csrf_token %}
  				{{ form|crispy }}
  				<button type="submit" class="button" name="login" value="Login" style="margin-top: 10px;padding: 8px; width: 100%;">Mudar senha</button>

			</form>

			{% else %}

			<p> Link inválido .</p>

			{% endif %}

		</div>

	</div>



{% endblock %}