{% extends 'base.html' %}

{% block title %} Restaurantes {% endblock %}

{% load static %}

{% block content %}


	<div id="carouselExampleCaptions" class="carousel slide">
	  <div class="carousel-inner">
	    <div class="carousel-item active">
	      <img style="height:300px" src="{% static 'images/imagem1.jpg' %}" class="d-block w-100" alt="...">
	      <div class="carousel-caption">
	        <h2>Todos nossos restaurantes</h2>
	      </div>
	    </div>
	</div>

	<div class="container-app">

		<div class="app">

			<div class="restaurants">

				<div class="row">

					{% if restaurantes %}

						{% for i in restaurantes %}

						<div class="col-sm-4">
							<div class="card">
							  <a href="/restaurante/{{ i.id }}" style="color: #4F4F4F;"><img src="{{ i.foto.url }}" alt="Imagem do restaurante {{ i.nome }}" height="200" width="100%" />
							  <div class="card-body">
							    <h5 class="card-title">{{ i.nome }}</h5>
							  </div></a>
							</div>
						</div>

						{% endfor %}

					{% else %}

						<h1>Nenhum restaurante encontrado : (</h1>

					{% endif %}

				</div>

			</div>

		</div>

	</div>

{% endblock %}