{% extends 'base.html' %}

{% block title %} {{ restaurante.nome }} {% endblock %}

{% load static %}

{% block content %}

	<div id="carouselExampleCaptions" class="carousel slide">
	  <div class="carousel-inner">
	    <div class="carousel-item active">
	      <img style="height:300px" src="{{ restaurante.foto.url }}" class="d-block w-100" alt="imagem do restaurante {{ restaurante.nome }}">
	      <div class="carousel-caption">
	        <h2>{{ restaurante.nome }}</h2>
	      </div>
	    </div>
	</div>

	<div class="container-app">

		<div class="app">

			<div class="content">

				<h1>Descrição:</h1>

				<p>
					{{ restaurante.descricao }}
					
				</p>

				<button class="button" style="width: 100%; padding: 8px;" data-bs-toggle="modal" data-bs-target="#reserveModal">Reservar</button>

				<hr>

				<div class="reservas">
					
					<h2>Reservas:</h2>

					{% if reserva %}

						{% for i in reserva %}

							<p> {{ i.user.username }} realizou uma reserva no {{ i.restaurante.nome }} no dia <span style="color: #ed152f;">{{ i.data }} às {{ i.hora }} para {{ i.numero_pessoas }} pessoas </span></p>

						{% endfor %}

					{% else %}

						<p align="center">Nenhuma reserva feita . Seja o primeiro a fazer uma!</p>

					{% endif %}

				</div>

				<hr>

				<h2>Comentários:</h2>

				<div class="post-comentario">

					<form method="POST">

						{% csrf_token %}

						<textarea class="form-control" placeholder="Comente sobre o restaurante..." name="comentario"></textarea>

						<button class="button" style="padding: 8px;" name="submit" value="postar_comentario">Postar</button>

					</form>
					
				</div>

				<hr>

				{% if comentario %}

					{% for i in comentario %}

						<div class="comentario">

							<h5>{{ i.user.username }}</h5>

							<p>{{ i.texto }}</p>
							
						</div>

					{% endfor %}

				{% else %}

					<div class="not-found" align="center">
						
						<h5>Nenhum comentário encontrado . Seja o primeiro a comentar!</h5>

					</div>

				{% endif %}
				
			</div>

		</div>

	</div>

	<!-- MODAIS -->

	<div class="modal fade" id="reserveModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        
        <div class="modal-dialog">
            
            <div class="modal-content">
               
               	<div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Escolha a data e hora para fazer a reserva</h5>
                   	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                          
                    <div class="link-div">

                    	<form method="POST">

                    		{% csrf_token %}

                    		<label>Data</label>
	                    	<input type="date" name="date" class="form-control">

	                    	<label>Horário</label>
	                    	<input type="time" name="time" class="form-control">

	                    	<label>Quantas pessoas?</label>
	                    	<input type="number" name="number" class="form-control">

	                    	<button class="button" style="width: 100%; padding: 8px; margin-top: 5px;" name="submit" value="reservar">Reservar</button>
                    		
                    	</form>

                    </div>

              	</div>

            </div>

        </div>

   	</div>

{% endblock %}